blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
emoji==2.12.1
flask==3.0.3
gunicorn==20.1.0
idna==3.7
importlib-metadata==8.0.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
PyAudio==0.2.14
pydub==0.25.1
pywebio==1.6.1
requests==2.32.3
SpeechRecognition==3.10.4
tornado==6.1
typing-extensions==4.12.2
ua-parser==0.10.0
urllib3==2.2.2
user-agents==2.2.0
Wave==0.0.2
werkzeug==3.0.3
zipp==3.19.2
